.innerGraphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chart {
    margin-bottom: 100px;
    margin-top: 100px;
}

.legend {
    margin-bottom: 100px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 1000px;
    height: 250px;
}

.input, .select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 250px;
    margin-bottom: 5px;
}

.subform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.toDefaultSubform {
    margin-bottom: 25px;
}